@font-face {
  font-family: 'Museo Sans';
  src: url('../fonts/museo-sans/museosans-100-webfont.eot');
  src: url('../fonts/museo-sans/museosans-100-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/museo-sans/museosans-100-webfont.woff') format('woff'), url('../fonts/museo-sans/museosans-100-webfont.ttf') format('truetype'), url('../fonts/museo-sans/museosans-100-webfont.svg#museosansregular') format('svg');
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Museo Sans';
  src: url('../fonts/museo-sans/museosans-100italic-webfont.eot');
  src: url('../fonts/museo-sans/museosans-100italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/museo-sans/museosans-100italic-webfont.woff') format('woff'), url('../fonts/museo-sans/museosans-100italic-webfont.ttf') format('truetype'), url('../fonts/museo-sans/museosans-100italic-webfont.svg#museosansitalic') format('svg');
  font-weight: 100;
  font-style: italic; }

@font-face {
  font-family: 'Museo Sans';
  src: url('../fonts/museo-sans/museosans-300-webfont.eot');
  src: url('../fonts/museo-sans/museosans-300-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/museo-sans/museosans-300-webfont.woff') format('woff'), url('../fonts/museo-sans/museosans-300-webfont.ttf') format('truetype'), url('../fonts/museo-sans/museosans-300-webfont.svg#museosansregular') format('svg');
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Museo Sans';
  src: url('../fonts/museo-sans/museosans-300italic-webfont.eot');
  src: url('../fonts/museo-sans/museosans-300italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/museo-sans/museosans-300italic-webfont.woff') format('woff'), url('../fonts/museo-sans/museosans-300italic-webfont.ttf') format('truetype'), url('../fonts/museo-sans/museosans-300italic-webfont.svg#museosansitalic') format('svg');
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Museo Sans';
  src: url('../fonts/museo-sans/museosans-700-webfont.eot');
  src: url('../fonts/museo-sans/museosans-700-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/museo-sans/museosans-700-webfont.woff') format('woff'), url('../fonts/museo-sans/museosans-700-webfont.ttf') format('truetype'), url('../fonts/museo-sans/museosans-700-webfont.svg#museosansregular') format('svg');
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Museo Sans';
  src: url('../fonts/museo-sans/museosans-700italic-webfont.eot');
  src: url('../fonts/museo-sans/museosans-700italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/museo-sans/museosans-700italic-webfont.woff') format('woff'), url('../fonts/museo-sans/museosans-700italic-webfont.ttf') format('truetype'), url('../fonts/museo-sans/museosans-700italic-webfont.svg#museosansitalic') format('svg');
  font-weight: 700;
  font-style: italic; }