.italic {
	font-style: italic;
	font-size: 0.85em;
}

.italic-default {
	font-style: italic;
}

#post img {
    max-width: 100%;
    height: auto;
    margin-bottom: 13px;
}

h1.title-margin {
  	margin-bottom: 4px;
}

h2.front {
  margin-top: 13px;
  margin-bottom: 6px;
}

.header {
	display: block;
	text-align: right;
  	margin: 0 0 10px 0;	
}

.header a {
	color: #aaa;
  	font-size: 85%;
}

.header a:hover {
	text-decoration: none;
}

.header .fa-home {
	font-size: 24px;
}

.meta a {
	color: #aaa;
}