---
layout: default
---

<!-- <p class="header">
<a href="/">home</a> &middot;
<a href="/about">about</a>
</p> -->
<p class="header">
  <a href="/">
    <i class="fa fa-home"></i>
  </a>
</p>

<h1 class="title title-margin">{{ page.title }}</h1>

<p class="meta">
{{ page.date | date: "%B %d, %Y" }} &middot;
{{ page.content | number_of_words}} words </br> 

{% if page.tags.size > 0 %}
  <i class="fa fa-tags"></i>
  {% assign taggers = page.tags | sort %}
  {% assign taggersize = page.tags.size | minus:1 %}
  {% for taggers in taggers limit:taggersize %}
    <a href="{{ site.url }}/notes/#{{ taggers }}">{{ taggers }}</a>,
  {% endfor %}
  {% for taggers in taggers offset:taggersize %}
    <a href="{{ site.url }}/notes/#{{ taggers }}">{{ taggers }}</a>
  {% endfor %}
{% endif %}
</p>

<div id="post">
  {{ content }}
  <br>
</div>

{% if page.disqus %}
  <div>
  {% include disqus.html %}
  </div>
{% endif %}