---
layout: default
---

<!-- <p class="header">
<a href="/">home</a> &middot;
<a href="/about">about</a>
</p> -->
<p class="header">
  <a href="/">
    <i class="fa fa-home"></i>
  </a>
</p>

<h1 class="title title-margin">{{ page.title }}</h1>

<p class="meta">
{{ page.date | date: "%B %d, %Y" }} &middot;
{{ page.content | number_of_words}} words </br> 

{% if page.tags.size > 0 %}
  <i class="fa fa-tags"></i>
  {% assign taggers = page.tags | sort %}
  {% assign taggersize = page.tags.size | minus:1 %}
  {% for taggers in taggers limit:taggersize %}
    <a href="{{ site.url }}/tags/#{{ taggers }}">{{ taggers }}</a>,
  {% endfor %}
  {% for taggers in taggers offset:taggersize %}
    <a href="{{ site.url }}/tags/#{{ taggers }}">{{ taggers }}</a>
  {% endfor %}
{% endif %}
</p>

<div id="post">
  {{ content }}
</div>

<div id="related">
<h3>Related Posts</h3> 
<ul class="posts"> 
  
{% assign maxRelated = 3 %}
{% assign minCommonTags =  1 %}
{% assign maxRelatedCounter = 0 %}

{% for post in site.posts %}

    {% assign sameTagCount = 0 %}
    {% assign commonTags = '' %}

    {% for category in post.categories %}
      {% if post.url != page.url %}
        {% if page.categories contains category %}
          {% assign sameTagCount = sameTagCount | plus: 1 %}
          {% capture tagmarkup %} <span class="label label-default">{{ category }}</span> {% endcapture %}
          {% assign commonTags = commonTags | append: tagmarkup %}
        {% endif %}
      {% endif %}
    {% endfor %}

    {% if sameTagCount >= minCommonTags %}
      <li>
      <span>{{ post.date | date_to_string }} &raquo;</span> <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
      {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
      {% if maxRelatedCounter >= maxRelated %}
        {% break %}
      {% endif %}
    {% endif %}

{% endfor %}

</ul>
</div>

<div>
{% include disqus.html %}
</div>

